<div class="container mx-auto mt-2 mb-2 pt-2 pb-2">
   
    <h3>Meet Our Caregivers</h3>
    <div class="row">
        <div class="col-md-7">
            <p>
                We have caregivers with the genuine compassion to care for those who are elderly, disabled and infirmed. We care for you at home!
            </p>
            
        </div>
        <div class="col-md-4">
            <img src="../../../assets/images/caregivers.jpeg">
        </div>
    </div>
    
    <p>Our team is composed of the following professionals:</p>
    <ul>
        <li>Licensed Practical Nurses (LPN)</li>
        <li>Licensed Vocational Nurses (LVN)</li>
        <li>Certified Caregivers</li>
        <li>Home Health Aides (HHA)</li>
        <li>Certified Nursing Assistants (CNA)</li>
        <li>Private Duty Nurses (PDN)</li>
        <li>Housekeepers</li>
        <li>Homemakers</li>
        <li>Home Care Assistants</li>
        <li>Companions</li>
        <li>Personal Care Attendants (PCA)</li>     
    </ul>

    <p>Call us at 616-710-7258 to set an appointment. We look forward to meeting you soon.</p>
  
</div>