<div class="footer">
    <div class="container mx-auto row">
        <div class="col-md-4">
            <h6>corporate office of all states</h6>
            <ul class="footer-item">
                <li class="footer-list">1279 E. Dublin grandville Road</li>
                <li class="footer-list">Colombus, Ohio 43229</li>
                <li class="footer-list">Contact person: Dilli Adhikari</li>
                <li class="footer-list">Phone: 616-710-7258</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h6>For Inqueries: Please call</h6>
            <ul class="footer-item">
                <li class="footer-list">Ohio: 616-710-7256</li>
                <li class="footer-list">Pennsylvania: 412-721-382</li>
                <li class="footer-list">Michigan: 616-723-1565</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h6>Social Media</h6>
            <div class="d-flex">
                <fa-icon [icon]="facebootIcon"></fa-icon>
                <fa-icon [icon]="twitterIcon"></fa-icon>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex">
        &copy; Copyright {{curYear}} | Intra National Home Carre LLC
    </div>

    
</div>
