<div class="row row-cols-1 row-cols-md-2 g-4 mt-4 mb-4">
    <div class="col">
      <div class="card">
        <img src="../../../assets/images/companionship.jpeg" class="card-img-top" alt="Companionship">
        <div class="card-body">
          <h4 class="card-title">Companionship</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/images/light-house-keeping-laundry-home-care-south-carolina.jpg" class="card-img-top" alt="Housekeeping">
        <div class="card-body">
          <h4 class="card-title">Light Housekeeping</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/images/Personal Care Services.png" class="card-img-top" alt="Personal Care">
        <div class="card-body">
          <h4 class="card-title">Personal Care</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/images/more service.jpeg" class="card-img-top" alt="More Service">
        <div class="card-body">
          <h4 class="card-title">More Service</h4>
        </div>
      </div>
    </div>
  </div>
