
<div class="container mx-auto mt-2 mb-2 pt-2 pb-2">
   
    <h3>Services</h3>
    <p>
        At Intra-National Home Care, LLC, we focus on delivering assistance to consumers who are homebound 
        due to illness, disability or old age. Care schedules can be arranged hourly or daily. 
        Services are available all seven days a week.
    </p>
    <app-service-cards></app-service-cards>
    <p>
        We believe that the participant and their families deserve the peace of mind that our compassionate 
        caregivers can provide each day. This indicates that Intra-National Home Care is providing the very best in home care services.
    </p>
    <p>
        If you want your own family to experience the same, please call 616-710-7258 / 412-721-3582 / 616-723-1565 to request for services.
    </p>
  
</div>
  
  
