<div class="container mx-auto mt-2 mb-2 pt-2 pb-2">
    <h3>Service Location</h3>
    <p><strong>Intra-National Home Care LLC</strong> service area cover by state and city.</p>
    <app-service-location-card></app-service-location-card>
  
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 mb-4">
        <div class="col p-5">
            <h6>Pennsylvania</h6>
            <img src="../../../assets/images/pennsylvania-service-map.png" alt="pennsylvania-service-map" class="service-area">
            <ul>
                <li>Pittsburgh</li>
                <li>Erie</li>
                <li>Harrisburg</li>
                <li>Philadelphia</li>
                <li>Scranton</li>
                <li>Lancaster</li>
            </ul>
        </div>
        <div class="col p-5">
            <h6>Ohio</h6>
            <img src="../../../assets/images/ohio-service-map.png" alt="ohio-service-map" class="service-area">
            <ul>
                <li>Colombus</li>
                <li>Akron</li>
                <li>Cincinnati</li>
                <li>Cleveland</li>
            </ul>
        </div>
        <div class="col p-5">
            <h6>Michigan</h6>
             <img src="../../../assets/images/michigan-service-map.png" alt="michigan-service-map" class="service-area">
        </div>
    </div>
</div>
  
  
