h1, h2, h3, h5, h6{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    color: blueviolet;
}
p{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}

.non-desc-contact{
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}