<div class="container  mx-auto mt-2 mb-2 pt-2 pb-2">
    <h3>Non-Discrimination Policy for Service</h3>
    <p>Admission, the provisions of services, and referrals of a consumer shall be made without regard
         to race, color, religious creed, disability, ancestry, national origin (including Limited 
         English Proficiency), age or sex.
    </p>
    <p>
        Program services shall be made accessible to an eligible person with disabilities through the 
        most practical and economically feasible methods available. These methods include, but are 
        not limited to, equipment redesign, the provision of aide, and the use of alternative 
        service delivery locations.
    </p>
    <p>
        Structural modifications shall be considered only as a last resort among available methods.
    </p>
    <h3>Non-Discrimination Policy for Employment</h3>
    <p>To provide equal employment and advancement opportunities to all individuals, 
        employment decisions of Intra-National Home Care, LLC are based on merit, 
        qualifications and abilities. Intra-National Home Care, LLC does not discriminate 
        in employment opportunities or practices on the basis of race, color, religious creed, 
        disability, ancestry, national origin, age or sex.
    </p>
    <p>
        Intra-National Home Care, LLC will make reasonable accommodations for qualified individuals
         with known disabilities who are able to meet the essential functions of the position,
          unless doing so would result in an undue hardship.
    </p>

    <p>Any individual or their legal guardian who believes they have been discriminated against, may file a complaint of discrimination with:</p>

    <div class="non-desc-contact">
        <p class="text-primary">Intra-National Home Care, LLC</p>
        <p>1279 E. Dublin Granville Rd.</p>
        <p>Columbus, OH 43229</p>
        <p>Ph: 616-710-7258</p>
        <p>Fax: 614-396-8308</p>
        <p>Email: intranationalcolumbus@gmail.com</p>
    </div>
    <div class="non-desc-contact">OR</div>
    <div class="non-desc-contact">
        <strong>Administrator: Govinda Khatiwada</strong>
        <p class="text-primary">Intra-National Home Care, LLC</p>
        <p>3000 Brownsville Road</p>
        <p>Pittsburgh, PA 15227</p>
        <p>Ph: 412-721-3582</p>
        <p>Fax: 412-881-7101</p>
    </div>
    <div class="non-desc-contact">OR</div>
    <div class="non-desc-contact">
        <strong>U. S. Dept. of Health & Human Services</strong><br>
        Office of Civil Rights<br>
        Suite 372, Public Ledger Bldg.<br>
        150 South Independence Mall<br>
        West Philadelphia, PA 19106-9111<br><br>

        <strong>Bureau of Equal Opportunity</strong><br>
        Western Regional Office, Room 702<br>
        Pittsburgh State Office Bldg.<br>
        300 Liberty Ave<br>
        Pittsburgh, PA 15222<br><br>

        <strong>US Department of Public Welfare</strong><br>
        Bureau of Equal Opportunity<br>
        Room 223, Health & Welfare Bldg.<br>
        PO Box 2675<br>
        Harrisburg, PA 17105<br><br>

        <strong>PA Human Relations Commission</strong><br>
        Eleventh Floor<br>
        Pittsburgh State Office Bldg.<br>
        300 Liberty Ave<br>
        Pittsburgh, PA 15222<br>
    </div>
</div>
