
<div class="container mx-auto mt-2 mb-2 pt-2 pb-2">
  
  <app-sliding-banner></app-sliding-banner>

  <div class="row mt-2 mb-2 p-3">
    <div class="col-md-3 p-2 sidebar">
      <app-sidebar></app-sidebar>
    </div>
    
    <div class="col-md-8 p-4">
      <h5>Welcome to Intra National Home Care LLC</h5>
      <p>Intra-National Home Care, LLC is a distinguished non-medical home care, 
        companionship, homemaker and consumer chore based service provider. 
        We assist families across all cultures and diverse communities who want 
        to live in their homes and maintain their independence, dignity and choice.
      </p>
      <p>
        We believe in our hearts and have proven from experience that staying at home 
        is the better choice for most of the elderly and disabled clients we care for. 
        At home, they can be close to family and they enjoy the privacy and familiarity 
        of their own residences. No other place on earth can equal the peace and security
         that we feel when we are at home – this makes home the best place to grow older,
          recovery from illness and injury.
      </p>
      <p>Ask us about your home care options! <strong>Call 616-710-7258 / 412-721-3582 / 412-881-7100</strong> today!</p>

      <app-service-cards></app-service-cards>
    </div>
  </div>

  <hr>
  <div class="mission-statement p-5">
    <h3>Mission Statement</h3>
    <p class="fst-italic">
      
      <strong>Intra-National Home Care, LLC</strong> has a mission to provide Home Care services to individuals and f
      amilies who need support with day to day activities. This mission revolves around the principle
       of "Assistance with independent living while remaining in the home environment for as long as possible."
      
    </p>
    <button class="btn-about" routerLink="/aboutus">About Us</button>
  </div>
  <hr>
</div>

