<div class="container mx-auto mt-2 mb-2 pt-2 pb-2">
   
    <h3>Careers</h3>
            <p>To apply, please complete the form below with your information.</p>
            <div class="career-form">
                <h5>Please fill out the form below:</h5>
                <hr>

                <form [formGroup]="careerForm" #career="ngForm" (submit)="career.valid && onSubmit()">
                    <div class="mt-2 mb-2">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="firstName">First name <strong>*</strong></label>
                                <input type="text" formControlName="firstName" class="form-control form-control-sm"
                                    [ngClass]="{'is-invalid': careerForm.get('firstName')?.touched && careerForm.get('firstName')?.invalid
                                    || career.submitted && careerForm.get('firstName')?.invalid}"
                                >
                                <small class="invalid-feedback" *ngIf="careerForm.get('firstName')?.errors?.['required']">First name cannot be blank</small>
                            </div>
                            <div class="col-sm-6">
                                <label for="lastName">Last name <strong>*</strong></label>
                                <input type="text" formControlName="lastName" class="form-control form-control-sm"
                                    [ngClass]="{'is-invalid': careerForm.get('lastName')?.touched && careerForm.get('lastName')?.invalid 
                                    || career.submitted && careerForm.get('lastName')?.invalid }"
                                >
                                <small class="invalid-feedback" *ngIf="careerForm.get('lastName')?.errors?.['required']">Last name cannot be blank</small>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 mb-2">
                        <label for="address">Address <strong>*</strong></label>
                        <input type="text" formControlName="address" class="form-control form-control-sm"
                            [ngClass]="{'is-invalid': careerForm.get('address')?.touched && careerForm.get('address')?.invalid
                            || career.submitted && careerForm.get('address')?.invalid}"
                        >
                        <small class="invalid-feedback" *ngIf="careerForm.get('address')?.errors?.['required']">Address cannot be blank.</small>
                    </div>
                    <div class="mt-2 mb-2">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="city">City <strong>*</strong></label>
                                <input type="text" formControlName="city" class="form-control form-control-sm"
                                    [ngClass]="{'is-invalid': careerForm.get('city')?.touched && careerForm.get('city')?.invalid
                                    || career.submitted && careerForm.get('city')?.invalid}"
                                >
                                <small [ngClass]="'invalid-feedback'" *ngIf="careerForm.get('city')?.errors?.['required']">City cannot be blank</small>
                            </div>
                            <div class="col-sm-4">
                                <label for="state">State <strong>*</strong></label>
                                <select class="form-select form-select-sm" formControlName="state"
                                    [ngClass]="{'is-invalid': careerForm.get('state')?.touched && careerForm.get('state')?.invalid
                                    || career.submitted && careerForm.get('state')?.invalid}"
                                >
                                    <option  disabled selected>Select State</option>
                                    <option value="Ohio">Ohio</option>
                                    <option value="Michigan">Michigan</option>
                                </select>
                                <small [ngClass]="'invalid-feedback'" *ngIf="careerForm.get('state')?.errors?.['required']">Please select the state</small>
                            </div>
                            <div class="col-sm-4">
                                <label for="zipCode">Zip Code <strong>*</strong></label>
                                <input type="text" formControlName="zipCode" class="form-control form-control-sm"
                                    [ngClass]="{'is-invalid': careerForm.get('zipCode')?.touched && careerForm.get('zipCode')?.invalid
                                    || career.submitted && careerForm.get('zipCode')?.invalid}"
                                >
                                <small [ngClass]="'invalid-feedback'" *ngIf="careerForm.get('zipCode')?.errors?.['required']">Zip code cannot be blank</small>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 mb-4">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="phone">Phone <strong>*</strong></label>
                                <input type="text" formControlName="phone" class="form-control form-control-sm"
                                    [ngClass]="{'is-invalid': careerForm.get('phone')?.touched && careerForm.get('phone')?.invalid
                                    || career.submitted && careerForm.get('phone')?.invalid}"
                                >
                                <small [ngClass]="'invalid-feedback'" *ngIf="careerForm.get('phone')?.errors?.['required']">Phone cannot be blank</small>
                            </div>
                            <div class="col-sm-6">
                                <label for="email">Email <strong>*</strong></label>
                                <input type="text" formControlName="email" class="form-control form-control-sm"
                                [ngClass]="{'is-invalid': careerForm.get('email')?.touched && careerForm.get('email')?.invalid
                                    || career.submitted && careerForm.get('email')?.invalid}"
                                >
                                <small [ngClass]="'invalid-feedback'" *ngIf="careerForm.get('email')?.errors?.['required']">Email cannot be blank</small>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 mb-2">
                        <label for="address">Are you over 18? <strong>*</strong></label>
                        <div class="form-check">
                            <div class="row">
                                <div class="col-sm-2">
                                    <input type="radio" class="form-check-input" name="above18" formControlName="above18" value="Yes">
                                    <label class="form-check-label">Yes</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="radio" class="form-check-input" name="above18" formControlName="above18" value="No">
                                    <label class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2 mb-2">
                        <label for="address">Do you have driver license? <strong>*</strong></label>
                        <div class="form-check">
                            <div class="row">
                                <div class="col-sm-2">
                                    <input type="radio" class="form-check-input" name="driverLicense" formControlName="driverLicense" value="Yes">
                                    <label class="form-check-label">Yes</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="radio" class="form-check-input" name="driverLicense" formControlName="driverLicense" value="No">
                                    <label class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2 mb-2">
                        <label for="address">Do you own a car? <strong>*</strong></label>
                        <div class="form-check">
                            <div class="row">
                                <div class="col-sm-2">
                                    <input type="radio" class="form-check-input" name="oweCar" formControlName="oweCar" value="Yes">
                                    <label class="form-check-label">Yes</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="radio" class="form-check-input" name="oweCar" formControlName="oweCar" value="No">
                                    <label class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2 mb-2">
                        <label for="address">What license do you currently hold? <strong>*</strong></label>
                        <div class="form-check">
                            <div class="row">
                                <div class="col-sm-2">
                                    <input type="checkbox" class="form-check-input" name="licenseType" formControlName="licenseType" value="HHA">
                                    <label class="form-check-label">HHA</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="checkbox" class="form-check-input" name="licenseType" formControlName="licenseType" value="RN">
                                    <label class="form-check-label">RN</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="checkbox" class="form-check-input" name="licenseType" formControlName="licenseType" value="LPN">
                                    <label class="form-check-label">LPN</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="checkbox" class="form-check-input" name="licenseType" formControlName="licenseType" value="None">
                                    <label class="form-check-label">None</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mt-2 mb-4">
                        <label for="address">What shift do you prefer? <strong>*</strong></label>
                        <div class="form-check">
                            <div class="row">
                                <div class="col-sm-2">
                                    <input type="checkbox" class="form-check-input" name="shift" formControlName="shift" value="Day">
                                    <label class="form-check-label">Day</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="checkbox" class="form-check-input" name="shift" formControlName="shift" value="Night">
                                    <label class="form-check-label">Night</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="checkbox" class="form-check-input" name="shift" formControlName="shift" value="PM">
                                    <label class="form-check-label">PM</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="checkbox" class="form-check-input" name="shift" formControlName="shift" value="Livein">
                                    <label class="form-check-label">Live-in</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 mb-2">
                        <label for="hear">How did you hear about us? <strong>*</strong></label>
                        <input type="text"  formControlName="hear" class="form-control form-control-sm"
                        [ngClass]="{'is-invalid': careerForm.get('hear')?.touched && careerForm.get('hear')?.invalid
                                    || career.submitted && careerForm.get('hear')?.invalid}"
                                >
                        <small [ngClass]="'invalid-feedback'" *ngIf="careerForm.get('hear')?.errors?.['required']">Hear cannot be blank</small>
                    </div>
                
                    <div class="mt-2 mb-4">
                        <label for="resume">Attach your resume <strong>*</strong></label>
                        <input type="file"  formControlName="resume" class="form-control form-control-sm"
                            [ngClass]="{'is-invalid': career.submitted && careerForm.get('resume')?.invalid}"
                        >
                        <small [ngClass]="'invalid-feedback'" *ngIf="careerForm.get('resume')?.errors?.['required']">Please select your resume</small>
                    </div>
                    <button class="btn btn-primary">Submit</button>
                </form>

            </div>
  
</div>
