<div class="item">
    <div class="col-7">
      <h5 class="title">Meet Our Caregivers</h5>
      <p>We have caregivers who can visit you at home…</p>
      <button class="btn-learnmore" routerLink="/meet-our-caregivers">Learn More</button>
    </div>
    <div class="col-5">
      <img src="../../../assets/images/t-caregivers.png" alt="">
    </div>
  </div>
  <div class="item" routerLink="/testimonials">
    <fa-icon [icon]="playIcon"></fa-icon>
    Testimonials from Clients
  </div>
  <div class="item">
    <fa-icon [icon]="playIcon"></fa-icon>
    Careers
  </div>
  <div class="item">
    <fa-icon [icon]="playIcon"></fa-icon>
    Consumer Satisfactory Survey
  </div>
  <div class="item">
    <fa-icon [icon]="playIcon"></fa-icon>
    Service Areas Covered
  </div>
  
  <div class="item">
    <fa-icon [icon]="downloadIcon"></fa-icon>
    Download Brochure
  </div>
  <div class="item">
    <fa-icon [icon]="playIcon"></fa-icon>
    Non-Descriminaiton Policy for Service
  </div>
  <div class="item">
    <fa-icon [icon]="playIcon"></fa-icon>
    Non-Descriminaiton Policy for Employment
  </div>
  <div class="item">
    <fa-icon [icon]="galleryIcon"></fa-icon>
   Gallery
  </div>
