h1, h2, h3, h5, h6{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    color: blueviolet;
}

.panel{
    width: 100%;
    border: 1px solid blueviolet;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    overflow-wrap: break-word;
}

.panel:hover{
    box-shadow: 0 0 20px rgb(31, 32, 30);
}

.panel-heading{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: green;
}

.panel-link:hover{
    cursor: pointer;
}

