
<div class="container mx-auto mt-2 mb-2 pt-2 pb-2">
   
    <div class="row mt-2 mb-2 p-3">
        <div class="col-md-3 p-2 sidebar">
            <app-sidebar></app-sidebar>
        </div>
    
    
        <div class="col-md-8 p-4">
            <h3>About Us</h3>
            <p>
                Intra-National Home Care, LLC is a company that provides non-medical in-home care services, 
                companionship and personal care to consumers all over Pennsylvania, Ohio and Michigan states.
            </p>
            <p>
                We have been serving the diverse communities since 2013. We are focused on continuing a legacy
                 of the quality in-home care services through our direct care workers, in a safe environment.
                  Home Care is a comprehensive way for consumers of all ages to receive appropriate care in 
                  the welcoming environment. Our services shall be within easy reach for all genders, age, 
                  sex, disability, race, origin and religion.
            </p>

            <div class="statement">
                <h4 class="statement-title">Mission Statement</h4>
                <p>
                    <strong>Intra-National Home Care, LLC</strong> has a mission to provide private Home Care services to individuals
                    and families who need support with day to day activities. This mission revolves around the 
                    principle of “Assistance with independent living while remaining in the home environment for as long as possible.”
                </p>
            </div>

            <div class="statement">
                <h4 class="statement-title">Vision Statement</h4>
                <p>
                    <strong>Intra-National Home Care, LLC</strong> strives to be the provider of choice for home and community based services by:
                </p>
                <ul>
                    <li>providing superior services to our consumers</li>
                    <li>delivering outstanding values</li>
                    <li>embracing innovative care at home</li>
                    <li>creating a resourceful and innovative environment in diverse communities through continuous service improvement</li>
                </ul>
            </div>
            <div class="statement">
                <h4 class="statement-title">Core Value Statement</h4>
                <p>
                    Our values lead us to who we are and what we stand for in every interaction. Our innovative care creates opportunities for 
                    more affordable and better care options every day for our consumers, employees, diverse communities and other entities.
                </p>
                <ul>
                    <li><strong>Love and Caring: </strong>Make a positive change through love and care.</li>
                    <li><strong>Spirit: </strong>Inspire, Encourage, and Celebrate</li>
                    <li><strong>Integrity: </strong>Be open, Honest and Ethical</li>
                    <li><strong>Exploration: </strong>Be curious for the possibilities</li>
                    <li><strong>Teamwork: </strong>Highest quality of care and positive outcomes</li>
                    <li><strong>Respect and Equality: </strong>Presence of adequate and equal opportunities and feeling of deep admiration for others</li>
                </ul>
            </div>
            <div class="statement">
                <h4 class="statement-title">Organizational Structure</h4>
                <img src="../../../assets/images/organizational structure.jpeg" alt="organizational structure">
            </div>
        </div>
    </div>
  
</div>
  
  